---
const BannerPrincipal = '/images/services/banner_ourservices.webp';
const LogoPrincipal = '/images/logo/logotipo_blanco.png';
const IconPrincipal = '/icons/Mesa de trabajo 23.png';
const TitleImage = '/images/services/title.webp';
---

<section class="relative w-full h-[calc(100vh-10rem)] md:h-[calc(100vh-10rem)] mx-auto overflow-hidden mb-3.5 md:mb-0">
	<a href="/">
		<img
			src={LogoPrincipal}
			alt="Logo empresa en blanco"
			class="absolute w-[17%] sm:w-[15%] md:w-[10%] left-4 sm:left-6 md:left-8 lg:left-10 top-4 sm:top-6 md:top-14 lg:top-14 h-auto object-contain z-10 transition-all duration-300 hover:opacity-90"
		/>
	</a>
	<div class="flex w-full relative">
		<img
			src={BannerPrincipal}
			alt={'Imagen de banner principal para seccion de servicios'}
			class="w-full h-[calc(100vh-10rem)] object-cover md:h-[calc(100vh-10rem)]"
		/>

		<div class="absolute inset-0">
			<img
				src={TitleImage}
				alt="Nuestros Servicios"
				class="w-2/4 sm:w-2/5 md:w-2/5 absolute z-30 right-4 md:right-4 bottom-4 sm:bottom-10 md:bottom-16"
			/>
		</div>
	</div>
</section>
