---
const alacatLogo = "/images/logo/alacat_logo.png";
const amacargaLogo = "/images/logo/amacarga_logo.webp";
---

<section class="bg-gray-50">
	<div class="max-w-lg mx-auto">
		<div class="grid md:grid-cols-2 gap-6 md:gap-12">
			<div class="p-6 md:p-8">
				<img
					src={amacargaLogo}
					alt="Logo empresa en blanco"
					class="w-full h-auto object-cover"
				/>
			</div>

			<div class="p-6 md:p-8">
				<img
					src={alacatLogo}
					alt="Logo empresa en blanco"
					class="w-full h-auto object-cover"
				/>
			</div>
		</div>
	</div>
</section>
