---
const slides = [
	{
		image: '/images/banner_principal_uno.webp',
		textImage: '/titles/text_uno.png',
	},
	{
		image: '/images/banner_principal_dos.webp',
		textImage: '/titles/text_dos.png',
	},
];
const LogoPrincipal = '/images/logo/logotipo_blanco.png';
---

<style>
	@keyframes slide {
		0%,
		45% {
			transform: translateX(0);
		} /* Primera imagen */
		50%,
		95% {
			transform: translateX(-100%);
		} /* Segunda imagen */
		100% {
			transform: translateX(0);
		} /* Vuelve a la primera */
	}
</style>

<div class="relative w-full h-[calc(100vh-10rem)] mx-auto overflow-hidden">
	<a href="/">
		<img
			src={LogoPrincipal}
			alt="Logo empresa en blanco"
			class="absolute w-[17%] sm:w-[15%] md:w-[10%] lg:w-[8%] xl:w-[7%] 2xl:w-[6%] left-4 sm:left-6 md:left-8 lg:left-10 top-4 sm:top-6 md:top-8 lg:top-10 h-auto object-contain z-10 transition-all duration-300 hover:opacity-90"
		/>
	</a>
	<div class="flex w-full animate-[slide_10s_infinite_ease-in-out] h-[calc(100vh-10rem)]">
		{
			slides.map((slide, index) => (
				<div class="w-full flex-shrink-0 flex flex-col items-center justify-center gap-4 relative h-[calc(100vh-10rem)]">
					<img 
						src={slide.image} 
						alt={`Imagen ${index + 1}`} 
						class="w-full h-full object-cover absolute inset-0" 
					/>
					<img
						src={slide.textImage}
						alt={`Texto ${index + 1}`}
						class={`${index % 2 === 0 ? 'left-4 sm:left-6 md:left-8 lg:left-10' : 'right-4 sm:right-6 md:right-8 lg:right-10'} w-[90%] sm:w-[80%] md:w-[65%] lg:w-[45%] xl:w-[40%] 2xl:w-[35%] h-auto absolute z-10 top-[35%] sm:top-[40%] md:top-[40%] lg:top-[40%] -translate-y-1/2`}
					/>
					<a 
						href="/contact" 
						class="absolute color-button text-white text-sm sm:text-lg md:text-2xl lg:text-3xl px-4 sm:px-6 md:px-8 py-2 sm:py-3 md:py-4 rounded-lg bottom-16 sm:bottom-20 md:bottom-24 left-4 sm:left-6 md:left-8 lg:left-10 z-40 transition-all duration-300 hover:scale-105 transform hover:shadow-lg flex items-center justify-center min-w-[140px] sm:min-w-[180px] md:min-w-[220px] h-10 sm:h-12 md:h-14 lg:h-16"
					>
						Contáctanos
					</a>
				</div>
			))
		}
	</div>
</div>
