---
const DescriptionBanner = '/images/Mesa de trabajo 29.webp';
---
<section class="flex md:flex-row flex-col-reverse background-principal mx-auto sm:h-[750px] md:h-[600px] xl:h-[1000px] sm:px-10 md:px-12 xl:px-24 mt-0">
  <div class="w-full sm:h-3/4 md:h-auto md:w-7/12 sm:block hidden">
    <img
      src={DescriptionBanner}
      alt="Imagen de banner principal"
      class="w-full h-full object-cover"
    />
  </div>
  <div class="w-full md:w-5/12 text-white md:px-16 md:flex md:flex-col md:justify-center sm:h-[300px] md:h-full">
    <p class="text-md md:text-lg lg:text-xl xl:text-4xl 3xl:text-5xl font-bold md:mb-4 xl:mb-10">
      En{' '}
      <span class="text-yellow-400">Jissen Global</span> estamos listos para ayudarte a optimizar tu logística internacional.
    </p>
    <p class="text-md md:text-lg lg:text-xl xl:text-4xl 3xl:text-5xl font-bold md:mb-4 xl:mb-10">
      Ponte en contacto con nuestro equipo y recibe{' '}
      <span class="text-yellow-400">asesoría personalizada</span> para encontrar la mejor solución para tu negocio.
    </p>
    
    <p class="mt-0 sm:mt-3 md:mt-5 xl:mt-10 text-md md:text-lg lg:text-xl xl:text-4xl 3xl:text-5xl color-primary text-center">
      Cuéntanos tus necesidades y diseñaremos la mejor estrategia para ti.
    </p>
  </div>
</section>