---
const BannerPrincipal = '/images/Mesa de trabajo 26.webp';
const LogoPrincipal = '/images/logo/logotipo_blanco.png';
const IconPrincipal = '/icons/Mesa de trabajo 23.png';
const text = '/titles/contact_text.png';
---

<section class="relative w-full h-auto md:auto mx-auto overflow-hidden mb-3.5 md:mb-0">
	<a href="/">
		<img
			src={LogoPrincipal}
			alt="Logo empresa en blanco"
			class="absolute w-[17%] sm:w-[15%] md:w-[10%] left-4 sm:left-6 md:left-8 lg:left-10 top-4 sm:top-6 md:top-14 lg:top-14 h-auto object-contain z-10 transition-all duration-300 hover:opacity-90"
		/>
	</a>
	<div class="flex w-full relative">
		<img
			src={BannerPrincipal}
			alt={'Imagen de banner principal para seccion de nosotros'}
			class="w-full h-[500px] object-cover md:h-auto"
		/>

		<div class="absolute inset-0">
			<img
				src={IconPrincipal}
				alt="Construimos Conexiones"
				class="w-1/5 md:w-1/10 absolute z-30 left-5 md:left-10 bottom-36 md:top-3/8"
			/>
			<img
				src={text}
				alt="Tu carga, nuestra prioridad"
				class="w-2/4 sm:w-2/5 md:w-2/5 absolute z-30 left-4 md:left-4 bottom-10 sm:bottom-10 md:top-4/7"
			/>
		</div>
	</div>
</section>
